<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lenovo.instituteapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/edu_con_png"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/edu_con_png"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstituteApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".TeacherAccount_Activity"
            android:exported="false" />
        <activity
            android:name=".TeacherParentChat"
            android:exported="false" />
        <activity
            android:name=".Suggestion_activity"
            android:exported="false" />
        <activity
            android:name=".Teacher_Mode_Main"
            android:exported="false" />
        <activity
            android:name=".Parent_Mode_Main"
            android:exported="false" />
        <activity
            android:name=".Student_Mode_Main"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Student_Account"
            android:exported="false" />
        <activity
            android:name=".Select_Standard"
            android:exported="false" />
        <activity
            android:name=".Teacher_List"
            android:exported="false" />
        <activity
            android:name=".Parent_List"
            android:exported="false" />
        <activity
            android:name=".StudentList"
            android:exported="false" />
        <activity
            android:name=".Teacher_Student_Chat"
            android:exported="false" />
        <activity
            android:name=".Parent_Institute_Chat"
            android:exported="false" />
        <activity
            android:name=".TeacherChat"
            android:exported="false" />
        <activity
            android:name=".Institute_home"
            android:exported="false" />
        <activity
            android:name=".Select_Mode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>